/*Especificidad: 001*/
nav {   
    display: flex;

    flex-flow: row wrap;
    justify-content:  flex-start;

    list-style: none;

    border-radius: 1em;
    margin-bottom: 1em;
}


/* body {

    width: fit-content;

    display: grid;
    grid-template-areas: 
        " header header header"
        "nav nav nav"
        ".  main  ." 
        ".  main  ." 
        "footer footer footer"
    ;
    
}
nav {
    grid-area: "nav";
}

header{
    grid-area: "header";
}

main {
    grid-area: "main";
} */


main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;

    justify-content: space-around; 
    align-items: center;
}


section img {

max-width: 100%;
}

section video {
    align-self:stretch;
    display: block;
    justify-self:stretch;

    
    width:100%;
    height:100%;
}

footer {
    grid-area: "footer";



    display: flex;
    justify-content: center;
    align-items: center;

}