/*Especificidad: 001*/
/*
body {
  font-family: Tahoma, sans-serif;
  color: #818181;
  background-color: #fff;
  }
*/


/*Especificidad: 001*/
/*
h1 {
  color: #fff;    
  background-color:#FF5733; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;     
  }

*/

/*****************************************
    Luis A. Fernandez Suarez - UO271430
    
    Descripcion de la hoja de estilos
*****************************************/
/*Especificidad: 001*/
header {


  padding: 3%;
  margin: 1.9%;


  border-style: solid;
  border-color: #00273F;

  /* Borde redondeado */
  border-radius: 1ex; 
}



/*Especificidad: 002*/
main > section {
  margin: 2%;
  padding: 3%;

  /* Borde redondeado */
  border-radius: 1ex;
}

/*Especificidad: 002*/
main article {
  margin: 2%;
  padding: 3%;

  /* Borde redondeado */
  border-radius: 1ex;
}


/*Especificidad: 002*/
section h3 {
  
  padding: 1%;
}

/*Especificidad: 001*/
form {
  margin: 2%;
}

/*PREGUNTAR POR ESTO*/
/*Especificidad: 011*/
input:nth-last-child(-n+1) {
  padding: 2%;
  border-radius: 1ex;
}


/*Especificidad: 001*/
nav {

  margin: 1.9%;


  border-style: solid;
  border-color: #00273F;
}

/*Especificidad: 002*/
nav > a {
  margin: 2%;
  padding: 1.5%;

  border-width: 0.3ex;
  border-style: solid;
  border-color: #000;
  border-radius: 1ex;
}






/* 
-- Table Style: ---------------------------------------------------------------------------
